
.Rhistory
.Rproj.user/E6101E9C/sources/prop/INDEX
.Rproj.user/E6101E9C/sources/prop/7FAE93C0
.Rproj.user/E6101E9C/sources/per/t/1C91D641-contents
.Rproj.user/E6101E9C/sources/per/t/1C91D641
.Rproj.user/E6101E9C/saved_source_markers
.Rproj.user/E6101E9C/rmd-outputs
.Rproj.user/E6101E9C/pcs/workbench-pane.pper
.Rproj.user/E6101E9C/pcs/windowlayoutstate.pper
.Rproj.user/E6101E9C/pcs/source-pane.pper
.Rproj.user/E6101E9C/pcs/packages-pane.pper
.Rproj.user/E6101E9C/pcs/files-pane.pper
.Rproj.user/E6101E9C/console06/INDEX001
.Rproj.user
packrat/lib*/
recursionAnalysis.nb.html
manuscript
